{% load staticfiles %}
<!-- <!DOCTYPE html> -->
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>
    {% block head_title %}
    Big Thinkers' Laboratory
    {% endblock head_title %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Extra import -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-theme.min.css' %}">
    <!-- End Extra import -->


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel='stylesheet' href='{% static "css/base.css" %}' />

<style>
  
    .navbar-nav {
    padding-bottom:0 !important;
  }

  .navbar.navbar-default .navbar-brand:focus {
    color: #ffd4d4;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }

    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }

  {% block style %}

  {% endblock style %}
</style>

{% block head_extra %}{% endblock head_extra %}
</head>
<body>

  <!-- <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->

  {% include "messages_display.html" %}
  <div class='container-fluid' style='padding-right: 0px; padding-left: 0px;'>

    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top justify-content-between">
      <!-- <a class="navbar-brand" href="/">Big Thinker's Laboratory</a> -->
      <a class="nav-item active" style='color:white' href="/"><span class="glyphicon glyphicon-copyright-mark" style='color:white'></span>&nbsp Big Thinkers' Laboratory</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><span class="glyphicon glyphicon-home" style='color:white'></span>&nbsp; Home</a>
          </li>
          
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book" style='color:white'></span>&nbsp; Offerings
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/postgroups/">Courses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/posts/">Individual Articles</a>             
            </div>
          </li>


          <li class="nav-item active" style="margin-left:8em">
            <a class="nav-link js-scroll-trigger" href="#about"><span class="glyphicon glyphicon-info-sign"></span>&nbsp; About </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#services"><span class="glyphicon glyphicon-cog"></span>&nbsp; Services </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#contact"><span class="glyphicon glyphicon-phone"></span>&nbsp; Contact </a>
          </li>


          <li class="nav-item active" style="margin-left:8em">
            <a class="nav-link" href="/admin/"><span class="glyphicon glyphicon-user"></span>&nbsp; Admin </a>
          </li>

          {% if not request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/login/"><span class="glyphicon glyphicon-log-in" style='color:white'></span>&nbsp; Login </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/register/"><span class="glyphicon glyphicon-registration-mark" style='color:white'></span>&nbsp; Signup </a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="/logout/"><span class="glyphicon glyphicon-log-out" style='color:white'></span>&nbsp; Logout </a>
          </li>
          {% endif %}   
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0"> -->
        <form class="form-inline float-md-right" method='GET' action='' class='row' style='margin-right: 0'>
          <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search" value='{{ request.GET.q }}'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> </button>
        </form>
      </div>
    </nav>

      {% block content %}


      {% endblock content %}

      <section class="bg-primary" id="about">
    <div class="container">
      <div class="row" >
        <div class="col-lg-6 mx-auto text-center">
          <h2 class="section-heading text-white">About Us</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">At Big Thinker's laboratory we aim to provide tools and amenities to focused individuals to gain proficiency and expertise on Big Data technologies with hands-on training and course materials. This lab is brain child of our beloved manager, mentor and motivator Mr. Gautam Das. It was only for his relentless efforts, foresight and insatiable hunger for success has made this facility come to reality.</p>
          <p class="text-faded mb-4">Course materials are designed and developed meticulously by Apache certified associates. Hope you get the most out of it. Below is our org structure.
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'>Lab Owner: Mr. Gautam Das</li>
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'>Lab Architect: Mr. Gautam Das</li>
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'>Lab Incharge: Mr. Uddyaloke Sarkar</li>    
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'>Lab Admin: Mr. Nikhil Anand</li>         
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'">Site Architect: Mr. Uddyaloke Sarkar</li>
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'">Site Desinger: Mr. Uddyaloke Sarkar</li>
            <li class="text-faded mb-3 offset-lg-3" style='text-align: left;'">Site Developer: Mr. Uddyaloke Sarkar</li>
          </p><br />
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a><br /><br /><br>
        </div>
      </div>
    </div>
    </section>

    <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="my-4"><br /><br />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Fully Stacked Big Data Server</h3>
            <p class="text-muted mb-0">Our lab has all Big Data components, a developed would typically need for his day to day activity in any Big Data Project</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Comprehensive Course Material</h3>
            <p class="text-muted mb-0">Course materials are created with keen attention to relate a typical ETL development with Abinitio vs the same with Big Data technology stack.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Up to Date with Latest Technology Trends</h3>
            <p class="text-muted mb-0">Latest technology trends and features are the basic building blocks of this lab. We update dependencies regularly to keep things fresh. </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Fully Responsive Webapp</h3>
            <p class="text-muted mb-0">This is a fully responsive webapp created with Django 2.0 running on Python 3.7. It has cool features like display read time of an article, provide view count etc.</p>
          </div><br /><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
    </section>

    <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="my-4">
          <p class="mb-5">Ready to start your next project with us? That's great! Just create a login and get started. If you run into any issues give us a call or send us an email and we will get back to you as soon as possible!</p><br /><br />
        </div>
      </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
        <a href="mailto:your-email@your-domain.com">bigthinkers.kolkata@tcs.com</a>
        </p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
    </div>
    </section>

    <footer id="footer" class='offset-sm-5'>
    <p class="copyright" style='text-center'>&copy; Big Thinker's Laboratory.</p>
    </footer><br /><br />


  </div>

    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>

  <script>

    $(document).ready(function(){

      function updateText(btn, newCount, verb){
        btn.text(newCount + " " + verb)
        btn.attr("data-likes", newCount)
      }
      $(".like-btn").click(function(e){
        event.preventDefault()
        var this_ = $(this)
        var likeUrl = this_.attr("data-href")
        var likeCount = parseInt(this_.attr("data-likes", new)) | 0
        var addLike = likeCount + 1
        var removeLike = likeCount - 1
        $.ajax({
          url: likeUrl,
          method: "GET",
          data: {},
          success: function(data){
            console.log(data)
            var newLikes;
            if (data.liked){
              updateText(this_, addLike, "Unlike")
            } else {
              updateText(this_, removeLike, "like")
            }
          }, error: function(error){
            console.log(error)
            console.log("error")
          }
        })
      })
    })


  </script>

<!--   <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
  </script> -->


  <!-- Extra Imports -->
  <script src="{% static 'vendor/jquery-2.1.4.min.js' %}"></script>

  <script src="{% static 'vendor/bootstrap.min.js' %}"></script>
  {# This template block is here so we can insert the JavaScript on correct template #}
  {% block inline_javascript %}{% endblock %}

  <!-- End Extra Imports -->

  <script type="text/javascript">
    $(document).ready(function(){
      $(".content-markdown").each(function(){
        var content = $(this).text()
        var markedContent = marked(content)
        $(this).html(markedContent)
      })
      $(".post-detail-item img").each(function(){
        $(this).addClass("img-fluid")
      })

      // preview-title
      // preview-content
      var titleInput = $("#id_title");

      var contentInput = $("#id_content");

      var teaserInput = $("#id_teaser");

      function setTitle(value){
        $("#preview-title").text(value)
      }
      setTitle(titleInput.val())

      function setTeaser(value){
        $("#preview-teaser").text(value)
      }
      setTitle(teaserInput.val())

      function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
          $(this).addClass("img-fluid")
        })
      }
      setContent(contentInput.val())

      titleInput.keyup(function(){
        var newTitle = $(this).val()
        setTitle(newTitle)
      })

      teaserInput.keyup(function(){
        var newTeaser = $(this).val()
        setTeaser(newTeaser)
      })

      contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
      })

      $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
      })
    })

  </script>



    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.js' %}"></script>


</body>
</html>


